.ui-datatable th.ui-state-default{
    background-color: #3c8dbc !important;
    color: white !important;
}

table {
    border-collapse:separate !important ;
    border:solid #337ab7 2px !important;
    border-radius:1px !important;
    -moz-border-radius:1px !important;
}

td, th {
    border-left:solid #3c8dbc 0px !important;
    border-top:solid #3c8dbc 0px !important;
}

th {
    background-color: #3c8dbc !important;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}