<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
>
<ui:include src="template.xhtml"/>
<ui:include src="/basepage/nav.xhtml"></ui:include>
<title>Home</title>
<h:body styleClass="hold-transition layout-top-nav" style="background-color: #e0e0e0 !important;">
	<p:growl id="growl" showDetail="true" showSummary="true" globalOnly="false">
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<!-- Small boxes (Stat box) -->
		<div class="container-fluid row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Scanner Prodotti</h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label>Inserimento manuale codice farmaco</label>
						<div class="input-group input-group-sm">
							<p:inputText id="productScan" styleClass="form-control" value="#{homeController.currentProductInsert}"  onkeypress="if (event.keyCode == 13) { remoteAdd();}">
							</p:inputText>
							<p:remoteCommand name="remoteAdd" actionListener="#{homeController.addManualProduct()}" process="@this,productScan" update="productScan,productTable"/>
							<div class="input-group-btn">
								<p:commandButton id="addButton" styleClass="btn-sm btn-success" actionListener="#{homeController.addManualProduct()}" value="Aggiungi"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Riepilogo Prodotti</h3>
				</div>
				<div class="box-body">
					<p:dataTable id="productTable" var="product" value="#{homeController.inventarioItemList}" widgetVar="productTable" paginator="true" styleClass="header-right dataTables_wrapper form-inline dt-bootstrap"
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								 rowsPerPageTemplate="5,10,15" rows="10" rowKey="#{ordine.codice}"
								 emptyMessage="Nessun prodotto ancora scansionato"
								 editable="true"
					>
						<p:ajax event="rowEdit" listener="#{homeController.onRowEdit}" update="productTable"/>
						<p:ajax event="rowEditCancel" listener="#{homeController.onRowCancel}" update="productTable"/>
						<p:column headerText="Codice Prodotto" style="width:200px!important"
						>
							<b><h:outputText styleClass="center" value="#{product.codice}" /></b>
						</p:column>
						<p:column  headerText="Codice Ean" style="width:200px!important">
							<p:barcode value="#{product.codiceEan}" type="ean13"/>
						</p:column>
						<p:column  headerText="Descrizione Prodotto" >
							<h:outputText value="#{product.descrizione}"/>
						</p:column>
						<p:column headerText="Quantita" style="width:100px!important"
						>
							<p:cellEditor>
								<f:facet name="output"><h:outputText value="#{product.quantita}"/></f:facet>
								<f:facet name="input"><p:inputText value="#{product.quantita}" style="width:100%"
																   label="Quantita"/></f:facet>
							</p:cellEditor>
						</p:column>
						<p:column style="width:6rem">
							<p:rowEditor editTitle="Edit Row" cancelTitle="Cancel Edit" saveTitle="Save Row"/>
						</p:column>
					</p:dataTable>

				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Denominazione File</h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label>Inserire nome file (Farmacia)</label>
						<div class="input-group input-group-sm">
							<p:inputText id="fileName" value="#{homeController.fileName}"  disabled="#{homeController.disableName}" />
							<p:commandButton id="finalizeName" styleClass="btn-sm btn-success"  action="#{homeController.updateDisable()}" update="fileName" value="Conferma Nome"/>
						</div>
						</div>
					</div>
				</div>

			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Esporta File</h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<p:commandButton value="Scarica" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);"
										 icon="pi pi-arrow-down" styleClass="p-mr-2" process="@this">
							<p:fileDownload value="#{homeController.file}"/>
						</p:commandButton>
					</div>
				</div>
			</div>
		</div>
		</div>


	</h:form>

</h:body>
</html>