<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:adm="http://github.com/adminfaces">

<ui:insert name="metadata"/>

<h:head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <ui:insert name="head"/>
    <ui:insert name="head-end"/>
    <h:outputStylesheet name="customStyle.css"/>
    <h:outputScript library="primefaces" name="jquery/jquery.js" target="head"/>
    <h:outputScript library="js" name="bootstrap.min.js" target="head"/>
    <h:outputScript library="js" name="admin-lte.min.js" target="head"/>

    <h:outputScript library="js" name="control-sidebar.js" target="head" rendered="#{adminConfig.renderControlSidebar and (empty renderControlSidebar or renderControlSidebar)}"/>
    <h:outputScript library="js" name="slimscroll.min.js" target="head"/>
</h:head>



</ui:composition>