
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
<ui:include src="template.xhtml"/>
<ui:include src="/basepage/nav.xhtml"/>

<h:body styleClass="hold-transition skin-blue layout-top-nav">





    <div class="row">
        <div class="col-md-12" align="center">
            <h4>Controllare la presenza di un aggiornamento ed eventualmente aggiornare il database farmaceutico?</h4>
            <h3>Ultimo aggiornamento: <b><h:outputText value="#{updateController.lastUpdateOnDb}"/></b></h3>
            <p:commandButton styleClass="btn-success" actionListener="#{updateController.checkAndUpdate()}" value="SI" />
            <button type="button" class="btn btn-danger" onclick="location.href = 'index.xhtml';">NO</button>


            <p><p:inputText id="input" style="width:530px"/></p>

        </div>
    </div>


</h:body>

</html>