
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	>
	
	
     <header class="main-header" style="padding-bottom:30px;">	
    <nav class="navbar navbar-static-top">
<h:form id="nav">
      <div class="container">
        <div class="navbar-header">
          <a href="index.xhtml" class="navbar-brand"><b>Service</b> Pharma</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{msg.layout_utility} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li>
                      <a href="update.xhtml">#{msg.layout_agg}</a>
                  </li>
                <li class="divider"></li>
                  <li>Info</li>
              </ul>
            </li>
          </ul>
        </div>

          </div>
</h:form>
          </nav>
             </header>

</ui:composition>