
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	>
	
	
     <header class="main-header" style="padding-bottom:30px;">	
    <nav class="navbar navbar-static-top" style="background-color: #41B3A3 !important;">
<h:form id="nav">
      <div class="container">
        <div class="navbar-header" style="background-color: #41B3A3 !important;">
          <a href="index.xhtml" class="navbar-brand" style="background-color: #41B3A3 !important;"><b>Recommender</b> Film/SerieTv</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

          </div>
</h:form>
          </nav>
             </header>

</ui:composition>