.ui-datatable th.ui-state-default{
    background-color: #41B3A3 !important;
    color: white !important;
}

table {
    border-collapse:separate !important ;
    border:solid #41B3A3 2px !important;
    border-radius:1px !important;
    -moz-border-radius:1px !important;
}

td, th {
    border-left:solid #41B3A3 0px !important;
    border-top:solid #41B3A3 0px !important;
}

th {
    background-color: #41B3A3 !important;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}
.even-larger-badge {
    font-size: 1.2em;
}
h2,h3,h4,p{
    color: darkslategray !important;
    font-family: 'Roboto', sans-serif !important;
}

body {background-color: #277c6c !important;}

.awesome-rating .ui-rating-star, .awesome-rating  .ui-rating-cancel {
    float: initial;
    display: inline;
}

.awesome-rating .ui-rating-star a, .awesome-rating  .ui-rating-cancel a {
    background: none;
    width: initial;
    height: initial;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #545454;
    margin-right: 5px;
    font-size: 30px;
    display: inline;
}

.awesome-rating  .ui-rating-cancel a:before {
    content: "\f056";
}

.awesome-rating  .ui-rating-cancel.ui-rating-cancel-hover a {
    color: #ce1c18;
}

.awesome-rating .ui-rating-star a:before {
    content: "\f006";
}

.awesome-rating .ui-rating-star.ui-rating-star-on a {
    color: #fadc3e;
}

.awesome-rating .ui-rating-star.ui-rating-star-on a:before {
    content: "\f005";
}