<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:pe="http://primefaces.org/ui/extensions"
>
<ui:include src="template.xhtml"/>
<ui:include src="/basepage/nav.xhtml"></ui:include>
<title>Home</title>
<h:body styleClass="hold-transition  layout-top-nav" style="background-color: #277c6c !important;">
	<p:growl id="growl" showDetail="true" showSummary="true" globalOnly="false">
		<p:autoUpdate />
	</p:growl>
	<h:form id="index">
		<!-- Small boxes (Stat box) -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4"/>
				<div class="col-md-4">
					<p:panel widgetVar="progressPanel"
							 visible="false"
							 closable="true"
							 toggleable="true"  styleClass="text-center">
						<h4>Elaborazione in corso.... Attendere</h4>
						<p:progressBar style="height:20px;width:400px;"
									   mode="indeterminate"/>
					</p:panel>
				</div>
				<div class="col-md-4"/>
			</div>
			<div class="row">
				<div class="col-md-3"/>
				<div class="col-md-12">
					<p:panel id="panelQuestion" >
						<div class="box box-success" align="center" >
							<div class="box-header with-border">
								<ui:fragment rendered="#{!questionController.isFilmMode}">
									<h3 class="box-title">Domande</h3>
								</ui:fragment>
								<ui:fragment rendered="#{questionController.isFilmMode}">
									<h3 class="box-title">Questi sono i Film/Serie Tv che ti raccomando di vedere - Se desideri essere consigliato meglio, vota questi film/Serie Tv</h3>
									<br />
									<br />
									<h2 class="box-title" style="padding-bottom: 150px!important;">Non votare i film che non desideri rielaborare</h2>
								</ui:fragment>

							</div>
							<div class="box-body no-padding">
								<div class="form-group" style="text-align: center!important;" >
									<ui:fragment rendered="#{!questionController.isFilmMode}">
										<h3><h:outputText value="#{questionController.currentQuestion.question}"/></h3>
										<ui:repeat value="#{questionController.currentQuestion.answers}" var="answers">
											<p:commandButton  styleClass="btn bg-olive btn-flat margin" value="#{answers.answer}" action="#{questionController.nextQuestion(answers)}"  update="index:panelQuestion"
															  onstart="PF('progressPanel').show();"
															  oncomplete=" PF('progressPanel').close();"/>
										</ui:repeat>
									</ui:fragment>
									<ui:fragment rendered="#{questionController.isFilmMode and !questionController.isShowFilmMode}">
										<ui:repeat value="#{questionController.recommenderFilm}" var="film">
											<div class="col-md-3">
												<img src="#{film.linkImage}" class="rounded" width="100px" height="200px" alt="#{film.name}"/>
												<p><h:outputText value="#{film.name}"/></p>
												<p:rating styleClass="awesome-rating" value="#{film.userVotation}"/>
											</div>
										</ui:repeat>
										<div class="text-center" >
											<p:commandButton  styleClass="btn bg-olive btn-flat margin" value="Rielabora Film Suggeriti" action="#{questionController.elaborateFilmByVote()}"  update="index:panelQuestion"
															  onstart="PF('progressPanel').show();"
															  oncomplete=" PF('progressPanel').close();"/>
										</div>
									</ui:fragment>


								</div>
							</div>
						</div>
					</p:panel>

				</div>
				<div class="col-md-3"/>
			</div>
		</div>


	</h:form>

</h:body>
</html>